:root{
  --bg: #272a308c;
  --bgSoft: gray;
  --text: white;
  --textSoft:#deb71d;
  --btn: #deb71d;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--bg)
}
a{
  text-decoration: none;
  color: var(--text);
}

.container{
  background-color: #313c52;
  width: 80rem;
  margin: auto;
  padding-left: 10rem;
  padding-right: 10rem;
  min-height: 100vh;
  display: flex;flex-direction: column;
  justify-content: space-between;
}